{% extends "NelmioApiDocBundle::layout.html.twig" %}

{% block content %}
    {% for section, sections in resources  %}
        {% if section != '_others' %}
            <div class="section">
            <h1>{{ section }}</h1>
        {% endif %}
        {% for resource, methods in sections %}
            <li class="resource">
                <div class="heading">
                    {% if section == '_others' and resource != 'others' %}
                        <h2>{{ resource }}</h2>
                    {% elseif resource != 'others' %}
                        <h2>{{ resource }}</h2>
                    {% endif %}
                </div>
                <ul class="endpoints">
                    <li class="endpoint">
                        <ul class="operations">
                            {% for data in methods %}
                                {% set access = false %}
                                {% for role in data.authentication %}
                                    {% if is_granted(role) %}
                                        {% set access = true %}
                                    {% endif %}
                                {% endfor %}

                                {% if (access == true) %}
                                    {% include 'NelmioApiDocBundle::method.html.twig' %}
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
        {% endfor %}
        {% if section != '_others' %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock content %}
