/var/
/vendor/
/composer.phar
/composer.lock
/phpunit.xml
/.phpunit
/.phpunit.result.cache
/Tests/Functional/cache
/Tests/Functional/logs
.idea
/phpstan.neon

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
