.* export-ignore
*.md export-ignore

codecov.yml export-ignore
docs export-ignore
phpstan.dist.neon export-ignore
phpstan-baseline.neon export-ignore
phpunit-ignore.txt export-ignore
phpunit.xml.dist export-ignore
tests export-ignore
utils export-ignore
