language: php

php:
  - 7.0
  - 7.1

sudo: false

cache:
  directories:
    - .phpunit
    - $HOME/.composer/cache

branches:
  only:
    - master
    - dev
    - /^\d+\.\d+$/

matrix:
  fast_finish: true
  include:
    - php: 7.0
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: 7.1
      env: SF_4="true"

before_install:
    - phpenv config-rm xdebug.ini
    - if [ "$SF_4" == "true" ]; then composer config minimum-stability dev; fi
    - if [ "$SF_4" == "true" ]; then composer require symfony/symfony:4.0.* --dev --no-update; fi
    - if [ "$SF_4" == "true" ]; then composer require friendsofsymfony/rest-bundle:dev-master --dev --no-update; fi

install: composer update $COMPOSER_FLAGS --prefer-stable

script: ./phpunit
