parameters:
	ignoreErrors:
		-
			message: "#^Class Twig_Environment not found\\.$#"
			count: 1
			path: src/Render/Html/HtmlOpenApiRenderer.php

		-
			message: "#^Class FOS\\\\RestBundle\\\\Controller\\\\Annotations\\\\QueryParam not found\\.$#"
			count: 3
			path: src/RouteDescriber/FosRestDescriber.php

		-
			message: "#^Class FOS\\\\RestBundle\\\\Controller\\\\Annotations\\\\RequestParam not found\\.$#"
			count: 2
			path: src/RouteDescriber/FosRestDescriber.php

		-
			message: "#^Class Symfony\\\\Bundle\\\\FrameworkBundle\\\\Controller\\\\ControllerNameParser not found\\.$#"
			count: 1
			path: src/Util/ControllerReflector.php
