parameters:
	ignoreErrors:
		-
			message: "#^Class Nelmio\\\\ApiDocBundle\\\\Annotation\\\\Areas extends @final class Nelmio\\\\ApiDocBundle\\\\Attribute\\\\Areas\\.$#"
			count: 1
			path: src/Annotation/Areas.php

		-
			message: "#^Class Nelmio\\\\ApiDocBundle\\\\Annotation\\\\Model extends @final class Nelmio\\\\ApiDocBundle\\\\Attribute\\\\Model\\.$#"
			count: 1
			path: src/Annotation/Model.php

		-
			message: "#^Class Nelmio\\\\ApiDocBundle\\\\Annotation\\\\Operation extends @final class Nelmio\\\\ApiDocBundle\\\\Attribute\\\\Operation\\.$#"
			count: 1
			path: src/Annotation/Operation.php

		-
			message: "#^Class Nelmio\\\\ApiDocBundle\\\\Annotation\\\\Security extends @final class Nelmio\\\\ApiDocBundle\\\\Attribute\\\\Security\\.$#"
			count: 1
			path: src/Annotation/Security.php

		-
			message: "#^Only booleans are allowed in an if condition, mixed given\\.$#"
			count: 1
			path: src/Describer/ExternalDocDescriber.php

		-
			message: "#^Method Nelmio\\\\ApiDocBundle\\\\PropertyDescriber\\\\PropertyDescriberInterface\\:\\:describe\\(\\) invoked with 5 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/PropertyDescriber/ArrayPropertyDescriber.php

		-
			message: "#^Method Nelmio\\\\ApiDocBundle\\\\PropertyDescriber\\\\PropertyDescriberInterface\\:\\:describe\\(\\) invoked with 5 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/PropertyDescriber/CompoundPropertyDescriber.php

		-
			message: "#^Method Nelmio\\\\ApiDocBundle\\\\PropertyDescriber\\\\PropertyDescriberInterface\\:\\:describe\\(\\) invoked with 5 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/PropertyDescriber/DictionaryPropertyDescriber.php

		-
			message: "#^Method Nelmio\\\\ApiDocBundle\\\\PropertyDescriber\\\\PropertyDescriberInterface\\:\\:describe\\(\\) invoked with 5 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/PropertyDescriber/NullablePropertyDescriber.php

		-
			message: "#^Method Nelmio\\\\ApiDocBundle\\\\PropertyDescriber\\\\PropertyDescriberInterface\\:\\:describe\\(\\) invoked with 5 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/PropertyDescriber/PropertyDescriber.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$context$#"
			count: 1
			path: src/PropertyDescriber/PropertyDescriberInterface.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$schema$#"
			count: 1
			path: src/PropertyDescriber/PropertyDescriberInterface.php

		-
			message: "#^Method Nelmio\\\\ApiDocBundle\\\\PropertyDescriber\\\\PropertyDescriberInterface\\:\\:describe\\(\\) invoked with 5 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/PropertyDescriber/RequiredPropertyDescriber.php

		-
			message: "#^Call to method render\\(\\) on an unknown class Twig_Environment\\.$#"
			count: 2
			path: src/Render/Html/HtmlOpenApiRenderer.php

		-
			message: "#^Class Twig_Environment not found\\.$#"
			count: 1
			path: src/Render/Html/HtmlOpenApiRenderer.php

		-
			message: "#^Parameter \\$twig of method Nelmio\\\\ApiDocBundle\\\\Render\\\\Html\\\\HtmlOpenApiRenderer\\:\\:__construct\\(\\) has invalid type Twig_Environment\\.$#"
			count: 1
			path: src/Render/Html/HtmlOpenApiRenderer.php

		-
			message: "#^Property Nelmio\\\\ApiDocBundle\\\\Render\\\\Html\\\\HtmlOpenApiRenderer\\:\\:\\$twig has unknown class Twig_Environment as its type\\.$#"
			count: 1
			path: src/Render/Html/HtmlOpenApiRenderer.php

		-
			message: "#^Call to function method_exists\\(\\) with 'Hateoas\\\\\\\\Configuration\\\\\\\\Embedded' and 'getType' will always evaluate to true\\.$#"
			count: 1
			path: tests/Functional/BazingaFunctionalTest.php
