<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>
    <php>
        <env name="SHELL_VERBOSITY" value="-1" />
        <ini name="error_reporting" value="-1" />
        <ini name="memory_limit" value="512M" />

        <!-- add "generateBaseline=true&amp;" to the value to generate a new baseline. Keep in mind to clear the test cache before. -->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="baselineFile=./phpunit-baseline.json&amp;max[self]=0" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
      <include>
        <directory suffix=".php">src</directory>
      </include>
    </source>
</phpunit>
